@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@theme {
    --radius-lg: 0.25rem;
    --radius-md: 0.2rem;
}

@layer components {
    .fi-btn {
        @apply !rounded-[33px] !normal-case !tracking-normal;
        box-shadow: 4px 4px 10px #00000040;
    }

    .fi-sidebar {
        background-color: #fbfbfb !important;
        border-right: 1px solid #ccd0d6 !important;
    }

    .fi-sidebar-header {
        height: 100px;
    }

    .fi-sidebar-item-button {
        @apply !text-[#0d4677];
    }

    .fi-logo {
        height: auto !important;
        object-fit: contain;
    }

    /* 📱 mobile */
    @media (max-width: 640px) {
        .fi-topbar-start {
            width: 140px;
            /* увеличили */
        }

        .fi-logo {
            height: 100px !important;
            /* увеличили */
        }
    }

    /* 📱 tablet */
    @media (min-width: 641px) and (max-width: 1024px) {
        .fi-topbar-start {
            width: 180px;
        }

        .fi-logo {
            height: 100px !important;
        }
    }

    /* 💻 desktop */
    @media (min-width: 1025px) {
        .fi-topbar-start {
            width: 150px;
        }

        .fi-logo {
            max-height: auto;
        }
    }
}