@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@theme {
    --radius-lg: 0.25rem;
    --radius-md: 0.2rem;
}

@layer components {
    .fi-btn {
        @apply !rounded-[33px] !normal-case !tracking-normal;
        box-shadow: 4px 4px 10px #00000040;
    }

    .fi-sidebar {
        background-color: #fbfbfb !important;
        border-right: 1px solid #ccd0d6 !important;
    }

    .fi-sidebar-item-button {
        @apply !text-[#0d4677];
    }

    .fi-logo {
        width: 100% !important;
        height: 100% !important;
    }

    .fi-topbar-start {
        width: 150px;
    }
}